BBKHXF_09.28/KD_orarend.dtd

<?xml version="1.0" encoding="UTF-8" ?>

<!ELEMENT orarend (ora)*>
<!ELEMENT ora (targy,idopont+,helyszin+,oktato+,szak)*>
        <!ATTLIST ora id ID #REQUIRED>
        <!ATTLIST ora tipus (Elmélet|Gyakorlat) #REQUIRED>
        <!ELEMENT targy (#PCDATA)>
        <!ELEMENT idopont (#PCDATA)>
        <!ELEMENT helyszin (#PCDATA)>
        <!ELEMENT oktato (#PCDATA)>
        <!ELEMENT szak (#PCDATA)>